<div id="GDT_reactive" class="GDT_base" >
    <link type="text/css" rel="stylesheet" href="/ui/modules/apps/GhostsDigitalTacho/app.css" />
    <div id="GDT_scale-wrapper" class="GDT_digital-tacho-base">
        <div>
            <div class="GDT_blinker-container {{GDT_blink_hidden}}">
                <img class="GDT_blinker {{GDT_left_blink_active}}" src="/ui/modules/apps/GhostsDigitalTacho/img/turn_signal.png">
                <img class="GDT_blinker GDT_blinker-right {{GDT_right_blink_active}}" src="/ui/modules/apps/GhostsDigitalTacho/img/turn_signal.png">
            </div>
            <div id="GDT_inset-display" ng-click="GDT_toggleMove()" class="GDT_inset-display {{GDT_shattered}} {{GDT_redline_active}}">
                <p>{{GDT_gear}}</p>
                <div class="GDT_prompt">
                    <img src="/ui/modules/apps/GhostsDigitalTacho/img/lmb.png">
                    <p>Toggle movement</p>
                </div>
            </div>
        </div>
        <div>
            <div class="GDT_digital-speed-container {{GDT_unit}}" ng-click="GDT_cycleLayout(1)">
                <p>{{GDT_speed}}</p>
                <div class="GDT_prompt">
                    <img src="/ui/modules/apps/GhostsDigitalTacho/img/lmb.png">
                    <p>Cycle through layouts</p>
                </div>
            </div>
            <div class="GDT_rev-lights-container {{GDT_shiftlights_hidden}}">
                <div class="GDT_rev-light GDT_rev-light-green {{GDT_rev0_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-green {{GDT_rev1_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-yellow {{GDT_rev2_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-yellow {{GDT_rev3_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-red {{GDT_rev4_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-red {{GDT_rev5_active}}"></div>
                <div class="GDT_rev-light GDT_rev-light-red {{GDT_rev6_active}}"></div>
            </div>
            <div class="GDT_lights-container">
                <div class="GDT_img-button {{GDT_ebrake_active}}">
                    <img src="/ui/modules/apps/GhostsDigitalTacho/img/ebrake.png">
                </div>
                <div class="GDT_img-button {{GDT_abs_active}}">
                    <img src="/ui/modules/apps/GhostsDigitalTacho/img/abs.png">
                </div>
                <div class="GDT_img-button {{GDT_traction_active}}">
                    <img src="/ui/modules/apps/GhostsDigitalTacho/img/traction.png">
                </div>
            </div>
        </div>
    </div>
</div>